<h1>Success</h1>
<br />
<h3>We have received your payment of <%= number_to_currency @payment_intent.amount_received / 100.0 %> .</h3>
<%# <h3>The status of your payment is <%= @payment_intent.status.</h3> %>
<br/>
<h4>Thanks for your order, <%= @payment_intent.shipping.name %>.
  Your order will be shipped to <%= @payment_intent.shipping.address.line1 %>,
  <%= @payment_intent.shipping.address.city %>, <%= @payment_intent.shipping.address.state %>,
   <%= @payment_intent.shipping.address.postal_code %>, <%= @payment_intent.shipping.address.country %> within the
   next 5 business days.

</h4>

<% @line_items.data.each do |product| %>
  <% @custOrder = CustomerOrder.find_by(product_name: product.description) %>
  <% @custOrder.update(status: "Paid") %>
  <% @custOrder.status %>
  <% @prodQty = Product.find_by(name: product.description) %>
  <% @prodQty.update(quantity: @prodQty.quantity - product.quantity) %>
<% end %>

<%# <%= @payment_intent.shipping %>
<%# <%= debug @session %>
<%#<%= debug @payment_intent %>