<%= turbo_frame_tag "order" do %>
  <%# <div class="d-flex justify-content-end"> %>
  <% if @show_cart != 1 %>
    <%= link_to order_path, class: "bi bi-cart d-flex justify-content-end" do %>
      <sup><%= @order.product_orders.count %></sup>
    <% end %>
  <% else %>
    <% if @order.product_orders.count > 0 %>
      <%= render "order/show_orders" %>
      <p>Total: <%= @order.total %> </p>
    <% else %>
      <p>Your cart is empty</p>
    <% end %>
  <% end%>
<% end %>