<%= turbo_frame_tag "show_order" do %>
<h1>Your Cart</h1>

<% if @order.product_orders.count == 0 %>
  <h3>Your cart is empty!</h3>
<% else %>
  <% @order.product_orders.each do |productOrder| %>

    <% product = productOrder.product %>

    <p><%= product.name %> * <%= productOrder.quantity %> = $<%= product.price * productOrder.quantity %></p>
    <% if current_customer %>
      <% province = Province.find("#{current_customer.address.province_id}") %>
      <% @subtotal = product.price * productOrder.quantity %>
      <% @gst = @subtotal * province.gst_rate %>
      <% @pst = @subtotal * province.pst_rate %>
      <% @hst = @subtotal * province.hst_rate %>
      <% @taxes = (@gst + @pst + @hst)/100 %>
      <% @total = @subtotal + @taxes%>
      <% @order.update(pst_rate: province.pst_rate, gst_rate: province.gst_rate,
                        order_date: Time.now.strftime("%d/%m/%Y %H:%M"),
                        hst_rate: province.hst_rate, sub_total: @subtotal, total: @total) %>
      <strong>PST Rate: </strong><%= province.pst_rate %>
      <strong>GST Rate: </strong><%= province.gst_rate %>
      <strong>HST Rate: </strong><%= province.hst_rate %>
      <strong>Order Date: </strong><%= Time.now.strftime("%d/%m/%Y %H:%M") %>
      <strong>SubTotal: </strong><%= @subtotal %>
      <strong>Taxes: </strong><%= @taxes %>
      <strong>Total: </strong><%= @total %>
    <% end %>
    <p>Order Date: <%= @order.order_date = Time.now %></p>
    <p>Order ID: <%= @order.id %></p>
  <% end %>
  <%# <p>Your total is $<%= @order.subtotal %> <%#</p> %>
  <% if current_customer %>
    <% province = Province.find("#{current_customer.address.province_id}") %>
    <% @subtotal = @order.subtotal %>
    <% @gst = @subtotal * province.gst_rate %>
    <% @pst = @subtotal * province.pst_rate %>
    <% @hst = @subtotal * province.hst_rate %>
    <% @taxes = (@gst + @pst + @hst)/100 %>
    <% @total = @subtotal + @taxes%>
  <% end %>
  <% if current_customer %>
    <% province = Province.find("#{current_customer.address.province_id}") %>
    <div class="container card mt-4">
      <h2>Customer Info</h2>
      <h3>Name: <%= current_customer.full_name %></h3>
      <ul>
        <li>Street: <%= current_customer.address.street.titleize %></li>
        <li>City: <%= current_customer.address.city.titleize %></li>
        <li>Postal Code: <%= current_customer.address.postal_code.titleize %></li>
        <li>Province: <%= province.name %></li>
        <% if province.hst_rate > 0 %>
          <li>HST: <%= province.hst_rate %>%</li>
        <% else %>
          <li>GST: <%= province.gst_rate %>%</li>
          <li>PST: <%= province.pst_rate %>%</li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>Your total is $<%= @total %> </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Image</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity * Unit Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% productCount = 0  %>
      <% @order.product_orders.each do |productOrder| %>
        <% product = productOrder.product %>
        <% if current_customer %>
        <%# <% Order.create(:pst_rate => "7") %>
          <% province = Province.find("#{current_customer.address.province_id}") %>
          <% Order.create(:pst_rate => province.pst_rate, :gst_rate => province.gst_rate,
                          :order_date =>Time.now.strftime("%d/%m/%Y %H:%M"),
                          :hst_rate => province.hst_rate, :sub_total => @subtotal, :total => @total) %>
        <% end %>
        <div id="<%= "order-#{product.id}" %>">
          <tr>
            <th scope="row"><%= productCount = productCount+1 %></th>
            <td><%= product.name %></td>
            <td><%= link_to image_tag(product.image_as_thumbnail), product %></td>
            <td>
              <div class="d-grid gap-2 d-md-flex">
                <%= form_with(url: order_add_path) do |f| %>
                  <%= f.hidden_field :id, value: product.id%>
                  <%= f.number_field :quantity, value: productOrder.quantity, min: 0, max: product.quantity, style: "margin-left: 5px; width: 70px; height :30px" %>
                  <%= f.submit "Update"%>
                <% end %>
                <%= form_with(url: order_remove_path) do |f| %>
                  <%= f.hidden_field :id, value: productOrder.id%>
                  <%= f.submit "Remove"%>
                <% end %>
              </div>
            </td>
            <td><%= number_to_currency product.price %> </td>
            <td><%= number_to_currency product.price * productOrder.quantity %> </td>
            <td></td>
          </tr>
        </div>
      <% end %>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% if current_customer %>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>Subtotal</strong></td>
          <td><%= number_to_currency  @subtotal %></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>Taxes</strong></td>
          <td><%= number_to_currency  @taxes %></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>Total</strong></td>
          <td><%= number_to_currency @total %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <% end %>
<% end %>
