<div id="<%= dom_id product %>">
<% if @display != 1 %>
  <div class ="col">
    <div id="<%= dom_id product %>">
      <div class="card" style="width: 18rem;">
        <% if product.image.present? %>
          <%= image_tag product.image.variant(resize_to_limit: [300, 300]).processed  %>
        <% end %>
        <div class="card-body">
          <h4 class="card-title"><strong><%= link_to product.name, product%></strong></h4>
          <h6 class="card-text">Price: <%= number_to_currency product.price %>
            <% if product.new %>
            <strong>New!</strong>
            <% end %>
            <% if product.on_sale %>
              <strong>On Sale! 🔥</strong>
            <% end %>
          </h6>
          <%# <p style="display:flex">
            <label>Quantity: </label>
            <input style= "margin-left: 5px; width: 70px; height :30px" value="0" type="number" min="0" max=<%= product.quantity %>
          <%# </p>
          <a href="#" class="btn btn-primary">Go somewhere</a> %>
          <%# <% if @order.include?(product.orders)%>
            <%= form_with(url: order_add_path) do |f| %>
              <%= f.hidden_field :id, value: product.id%>
              <p style="display:flex"> Quantity: <%= f.number_field :quantity, value: 0, min: 1, max: product.quantity, style: "margin-left: 5px; width: 70px; height :30px" %></p>
              <%= f.submit "Add to cart", class: "btn btn-primary"%>
            <% end %>
          <%# <% else %>
          <br/>
            <%= form_with(url: order_remove_path) do |f| %>
              <%= f.hidden_field :id, value: product.id%>
              <%= f.submit "Remove from cart", class: "btn btn-primary"%>
            <% end %>
          <%# <% end %>

        </div>
      </div>
    </div>
  </div>
<% else %>
<div class="row" style= "flex-wrap: wrap;width: 800px; height: auto; margin-left:auto; margin-right:auto">
  <div class ="col">
    <div class="card" style="width: 18rem;">
      <% if product.image.present? %>
        <%= image_tag product.image.variant(resize_to_limit: [300, 300]).processed  %>
      <% end %>
    </div>
  </div>
  <div class ="col">
      <div class="card-body">
        <h2 class="card-title"><%= link_to product.name, product%></h2>
        <p class="card-text"><strong>Description: </strong> <%= @product.description %></p>
        <p class="card-text"><strong>Price:</strong> <%= number_to_currency product.price %>
          <% if product.new %>
          <strong>New!</strong>
          <% end %>
          <% if product.on_sale %>
            <strong>On Sale! 🔥</strong>
          <% end %>
        </p>
        <%= form_with(url: order_add_path) do |f| %>
          <%= f.hidden_field :id, value: product.id%>
          <p style="display:flex"> Quantity: <%= f.number_field :quantity, value: 0, min: 1, max: product.quantity, style: "margin-left: 5px; width: 70px; height :30px" %></p>
          <%= f.submit "Add to cart", class: "btn btn-primary"%>
        <% end %>
      </div>
  </div>
</div>
<% end %>
</div>