<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "African Fabrics Store", root_path, class: 'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "All Products", products_index_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to "New", new_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to "On Sale 🔥", sale_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to "Categories", product_categories_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to "Contact Us", contact_path, class: 'nav-link'%>
        </li>
        <%= form_with(url: search_index_path, class: 'd-flex', method: :get, local: true) do%>
          <div class="field has-addons">
            <p class="control">
              <%= text_field_tag(:q, nil, class: "input", placeholder: 'Search For Products')%>
            </p>
            <p class="select is-primary control">
              <%= select_tag :category, options_from_collection_for_select(ProductCategory.all, :id, :name), class: "select", prompt: " All Categories " %>
            </p>
            <br>
            <p class="ml-3 control">
              <button class="button is-success">
                Search
              </button>
            </p>
          </div>
        <% end%>
      </ul>
      <ul class="navbar-nav">
        <%= render 'users/session_manager'%>
      </ul>
    </div>
  </div>
</nav>