<div class="container">
  <h1>Set Your Address</h1>
  <%= form_for @address, method: :put, url: wizard_path do |f| %>
    <% if f.object.errors.any? %>
      <div class="error_messages">
        <% f.object.errors.full_messages.each do |error| %>
          <p style="color: red"><%= error %></p>
        <% end %>
      </div>
    <% end %>
    <div class="row g-3">
      <legend>Your Address</legend>
      <div class="col-12">
        <%= f.label "Street", class: "form-label" %>
        <%= f.text_field :street, class: "form-control", placeholder: "Street...", required: true %>
      </div>
      <div class="col-md-6">
        <%= f.label "City", class: "form-label" %>
        <%= f.text_field :city, class: "form-control", placeholder: "City", required: true %>
      </div>
      <div class="col-md-4", style="margin-top:55px">
        <%= f.label "Province", class: "form-label" %>
        <%= f.select :province_id, options_from_collection_for_select(Province.all, :id, :name), class: "form-control", prompt: " Select Province ", required: true %>
      </div>
      <div class="col-md-2">
        <%= f.label "Postal Code", class: "form-label" %>
        <%= f.text_field :postal_code, class: "form-control", placeholder: "Postal Code", required: true %>
      </div>
      <div class="d-flex justify-content-start">
        <%= render 'links' %>
      </div>
      <div class="d-flex justify-content-end", style="margin-top:-35px">
        <%= f.submit 'Finish', class:"btn btn-primary" %>
      </div>
    </div>

  <% end %>
  <style>
    div.field_with_errors {
      display: inline;
    }
  </style>
</div>